.contacts-container {
    background-color: #0D4D4D;
}

.contacts-card {
   padding: 10px;
}

.contacts-card p {
}

.contacts-img {
    max-width: 52px;
    height: auto;
    background-color: #669999;
}