.projects-container {
    background-color: #0D4D4D;
}

.project-container {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid #003333 10px;
}

.project-video {
    min-width: 200px;
}