body {
    background-color: #226666;
    color: aliceblue;
}

.text-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    background-color: #003333;
    color: white;
}

.nav-elem a:any-link {
    text-decoration: none;
    color: white;
}


